header {
    @include flexbox (row, space-between, center) ;
    grid-area: header;
    height: 20vh;
    padding: 0 50px;
    background-color: black;
    width: 100%;

    h1 {
        
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 3em;
        color:  white;
        border: 2px solid $color-principal;
        border-radius: 20px;
        padding: 10px;
        
    }
    div {
        img {
        width: 130px;
        border: 2px solid $color-principal;
        border-radius: 45px ;
        padding: 10px;
        margin-left: 50px;
        }
    }
    nav {
        ul {
            display: flex;
            li {
                list-style: none;
                border: 2px solid rgb(152, 93, 207);
                border-radius: 7px;
                margin: 2px;
                padding: 2px;

                .nav-link {
                    padding: 10px;
                    text-decoration: none;
                    list-style: none;
                    color: white;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-weight: 00;     
                    background-color: black;           
                
                }
                
                a {
                    padding: 0 10px;
                    color: rgb(152, 93, 207);
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-weight: 00;   
                }
            }
        }
    }
}